<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MyOpenGLFrame">
		<title>My App</title>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxGLCanvas" name="ID_GLCANVAS1" subclass="GLPanel" variable="GLCanvas1" member="yes">
					<mDepthSize>16</mDepthSize>
					<minsize>400,400</minsize>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>2</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button1" member="yes">
							<label>TestButton1</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button2" member="yes">
							<label>TestButton2</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
							<style>wxTE_MULTILINE|wxTE_RICH</style>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
